.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1385.9em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-conner-left:before {
      background-position: 0em 0em;
      width: 1.4em;
      height: 1em;
  }




  .icon.arrow-conner-right:before {
      background-position: 0em -1em;
      width: 1.4em;
      height: 1em;
  }




  .icon.arrow-down:before {
      background-position: 0em -2em;
      width: 1.0314em;
      height: 0.62em;
  }




  .icon.arrow-up:before {
      background-position: 0em -2.7em;
      width: 1.5089000000000001em;
      height: 0.85em;
  }




  .icon.cancel:before {
      background-position: 0em -3.6em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -51.2em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -53.5em;
      width: 3.1001000000000003em;
      height: 2.5217em;
  }




  .icon.cart-empty:before {
      background-position: 0em -56.1em;
      width: 1.47em;
      height: 1.0781em;
  }




  .icon.check-round:before {
      background-position: 0em -57.2em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.checked:before {
      background-position: 0em -106.3em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.chef:before {
      background-position: 0em -108.9em;
      width: 2.3844000000000003em;
      height: 2.4em;
  }




  .icon.clip:before {
      background-position: 0em -111.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -162.5em;
      width: 2em;
      height: 2em;
  }




  .icon.close:before {
      background-position: 0em -164.5em;
      width: 1.8em;
      height: 1.8106000000000002em;
  }




  .icon.close-fat:before {
      background-position: 0em -166.4em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.download:before {
      background-position: 0em -168.6em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -215.8em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.exit:before {
      background-position: 0em -218em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.facebook--color:before {
      background-position: 0em -219.8em;
      width: 40.8788em;
      height: 40.8788em;
  }




  .icon.heart:before {
      background-position: 0em -260.7em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -307.9em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -356.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.instagram--color:before {
      background-position: 0em -359em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.interface:before {
      background-position: 0em -410.2em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -459.3em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -468.9em;
      width: 1.8393000000000002em;
      height: 2.3039em;
  }




  .icon.login:before {
      background-position: 0em -471.3em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -474.6em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -519.7em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -568.1em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -569.7em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.phone:before {
      background-position: 0em -616.6em;
      width: 2.3893em;
      height: 2.4em;
  }




  .icon.placeholder:before {
      background-position: 0em -619em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -666.7em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.refresh:before {
      background-position: 0em -711.5em;
      width: 2.48em;
      height: 2.0100000000000002em;
  }




  .icon.repeat:before {
      background-position: 0em -713.6em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -715.8em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.share:before {
      background-position: 0em -718.1em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -766.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -817.5em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -821.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -873em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-google:before {
      background-position: 0em -882em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -891.7em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -934.8em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -978.7em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -988.3em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1018.3em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1059.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1110.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1161.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1213em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.tick--color:before {
      background-position: 0em -1262.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.time:before {
      background-position: 0em -1313.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.trash:before {
      background-position: 0em -1364.5em;
      width: 2em;
      height: 2.2em;
  }




  .icon.unlike:before {
      background-position: 0em -1366.7em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1376.3em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.user:before {
      background-position: 0em -1378.5em;
      width: 2.1614em;
      height: 2.3409em;
  }




  .icon.vk--color:before {
      background-position: 0em -1380.9em;
      width: 5em;
      height: 5em;
  }





