// ============================ Buttons ============================
.btn
	br(20px)
	tr(all)
	display inline-block
	background none
	border 0
	text-align: center
	&:hover
		cursor pointer

.btn--sm
	@extend .btn
	font-size 10px
	padding 5px 10px

.btn--md
	@extend .btn
	@extend .type--md
	padding 18px 30px

.btn--lg
	@extend .btn
	font-size 20px
	padding 10px 30px

.btn--mobile
	@extend .btn
	+below(768px)
		width 100%
		text-align center

.btn--mark
	@extend .btn
	background $mark
	.nav-icon
		fill white
	&:hover
		background-color lighten($mark,10)
	&:active
		color $red
	input[type="submit"]
		border 0
	.nav-icon
		fill white


.btn--red
	@extend .btn
	background $red
	color white
	.nav-icon
		fill white
	&:hover
		color $mark!important
	input[type="submit"]
		border 0
	.nav-icon
		fill white


.btn--disable
	@extend .disabled
	background-color $snow
	color #000000
	font-weight: 700

.btn--light
	@extend .btn
	border 1px solid $border-color
	background-color #ffffff
	&:hover
		border 1px solid $mark
	.nav-icon
		fill $mark

.btn--white
	@extend .btn
	border 1px solid rgba(255, 255, 255, 0.9)
	color rgba(255, 255, 255, 0.9)
	.nav-icon
		fill rgba(255, 255, 255, 0.9)

.btn--icon
	flex(mid)
	.nav-icon
		margin-left: 10px

.nav-icon
	size 20px
	display inline-block

.btn--icon--left
	.nav-icon
		margin-left: 0
		margin-right: 10px

.btn-row-mid
	flex(mid)
	margin: 30px 0

.btn--full
	width: 100%
	display block