// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$mark = #3a90c8

$main-text-color = black


$dark = #44322d
$brown = #a57f45
$mark = #ffc400

$gray =  #b4b4b4
$snow = $border-color = #eeeeee
$snow-light = #f8f8f8
$red = #e31e24


$link-color = black
$link-color-visited = gray
$link-color-hover = black
