include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		//product-cont
		.main-cont
			.sale-item-banner(style="background-image:url('img/about-banner.jpg')")
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title О булочной Ладная
			.text.text--extend
				p Хлеб — один из ключевых продуктов питания для людей любого возраста. Поэтому производство качественных хлебобулочных изделий является очень важной задачей, которую под силу выполнить только опытной, ответственной и инновационной компании. Именно такой организацией является Булочная "Народная". Максимальная прозрачность деятельности Компании и высокое качество ее продукции лежат в основе нашей политики, направленной на неизменное и постоянное внимание к нуждам потребителя. Качественные хлебобулочные изделия по доступной цене и довольный покупатель – вот наши главные цели.

				p Наши высококвалифицированные специалисты непрерывно совершенствуют характеристики хлебобулочной продукции и осуществляют строгий контроль качества на всех этапах производства.Кроме многолетнего опыта наши пекарни могут гордиться и постоянной модернизацией оборудования, запуском новых линий, что выгодно выделяет нас из общей массы конкурентов, что экономят на оборудовании, а значит, и на качестве продукта.

				h2 Контакты
				.about
					.about-map
						.about-map__el
					.about-info
						p.type--bold г. Кемерово, б-р Строителей, д 29
						p
							a(href="mailto:caffe2@kempir.com").link--mark caffe2@kempir.com
						p  8 945 123 45 56

				p В наших пекарнях всегда большой ассортимент свежей продукции: свежеиспеченный хлеб с хрустящей аппетитной корочкой, итальянские чиабатты, французские багеты и ржаные хлеба, приготовленные без улучшителей и дрожжей (на натуральной закваске); ароматные булочки, слоеные изделия, пицца, праздничные караваи и многое другое.

				p Выпекая свежий хлеб, мы используем только качественные и натуральные ингредиенты, постоянно совершенствуя свой опыт и расширяя ассортимент. Мы используем ручной способ изготовления, контролируя каждый этап приготовления хлеба, и формируем демократичную ценовую политику.Основополагающим элементом нашего успеха является тщательный выбор сырья высочайшего качества. Каждая поставка проходит контроль качества и хладнокровно возвращается поставщику при малейшем несоответствии. Мы вручную перебираем каждый овощ, плод, ягоду и орех, прежде чем одобрить их для вашего стола.Для нас честь предлагать нашим гостям качественную выпечку и свежий хлеб ежедневно, делясь историей, традициями и любовью к своему пекарскому ремеслу.


+footer()
include ./block_html/_script.pug
