include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		//product-cont
		.main-cont
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title Доставка и оплата
			.deliver
				.deliver-map
					.deliver-map__el
						//put map her
				.deliver-info
					.title--lg Время доставки до #[span.title-tag 60 минут]
					p.type--md Доставляем только в пределах зоны, отображенной на карте
					.deliver-time
						+icon("clock","icon icon--sm icon--gray")
						span.type--md среднее время доставки 30 мин
					.deliver-type
						.deliver-type__el
							.deliver-type__color(style="background:#e31e24")
							.deliver-type__val 8 - 21
							.deliver-type__text время работы ресторана
						.deliver-type__el
							.deliver-type__color(style="background:#ffc400")
							.deliver-type__val 10 - 20
							.deliver-type__text можно совершить заказ
						.deliver-type__el
							.deliver-type__color(style="background:#b4b4b4")
							.deliver-type__val 10:30 - 20:30
							.deliver-type__text время доставки курьером
					p.type--md Вы можете совершить заказ в любой день недели. Закажите доставку заранее заказ прибудет в точно указанное время!
					.deliver-banner
						.deliver-banner__title бесплатная доставка
						.type--md при заказе от 1000 рублей
					p.type--md #[span.type--lg.type--bold 500 руб]&nbsp;минимальная сумма заказа
			.text
				h2 Оплата
				p Вы можете оплатить свой заказ банковской картой на сайте или наличными деньгами при получении, банковской картой при получении.

				p Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa, MasterCard, Maestro и МИР. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.

				p Для оплаты заказа банковской картой на сайте необходимо выбрать пункт "Оплата онлайн". После успешной оплаты заказа данные о нем будут переданы нам для выполнения. В случае возникновения ошибки необходимо выбрать другой способ оплаты или связаться с оператором по телефону #[a(href="tel:8 495 123 45 67") 8 495 123 45 67].

				.pay-row.pay-row--line
					img(src="img/pay-maestro.svg", alt="")
					img(src="img/pay-master.svg", alt="")
					img(src="img/pay-visa.svg", alt="")
					img(src="img/pay-mir.svg", alt="")

				h3 Гарантии безопасности

				p Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.2. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.

				p В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов платежного сервиса по электронной почте #[a(href="mailto:support@cloudpayments.ru") support@cloudpayments.ru].

				h3 Безопасность онлайн платежей

				p Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.

				p Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен для проведения платежей онлайн, на специальной странице.

				p Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.

				h2 Возврат товаров

				p Аннулирование ранее оплаченного банковской картой онлайн заказа возможно при обращении в ресторан или через службу клиентской поддержки в соответствующем разделе сайта. После направления заявления об аннулировании заказа ранее списанная сумма будет возвращена на банковскую карту, с которой были списаны денежные средства, в порядке и на условиях банка-эмитента банковской карты пользователя.

				p В случае, если пользователь не забрал готовый и оплаченный онлайн банковской картой заказ из ресторана, компания аннулирует заказ, денежные средства за аннулированный заказ не возвращаются пользователю. Собранный и готовый к выдаче пользователю заказ хранится в ресторане не более 10 (Десять) минут.

				p Возврат товара возможент только если товар не надлежащего качества/вида при получении от клиента. До подтверждения и оплаты курьеру.

				p Если курьер не может дозвонится до клиента 10 минут то заказ аннулируется.
	+footer()
include ./block_html/_script.pug
