include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.slider-wrap
			.slider-gradient.slider-gradient--left
			.slider-gradient.slider-gradient--right
			.slider-control.slider-control--left
				+icon("arrow-conner-left","icon")
			.slider-control.slider-control--right
				+icon("arrow-conner-right","icon")
			.slider.slider-item
				- for (var i=0;i<5;i++)
					a(href="#").slider__el
						.slider__el-img(style="background-image:url('img/slider-el-1.jpg')")

		.main-cont
			.kind
				//add class .kind__el--active for active elements
				-
					var items = [
						'Готовая продукция', 'Готовая продукция КЦ', 'Восточные и мучные сладости', 'Десерты', 'Кексы', 'Печенье', 'Пироги', 'Пирожные', 'Пряники', 'Торты', 'Готовая продукция ХЦ', 'Багеты, батоны', 'Булочки', 'Киши, Заливные', 'Пироги', 'Тесто', 'Хлеба', 'Кулинария', 'Гастрономия', 'Кофе для кофейни', 'Молоко', 'Напитки и соки', 'Разное', 'Чаи'
					];
				each item in items
					.kind__el #{item}

		//product-cont
		.main-cont
			.title-row
				.title Готовая продукция
					.title-val 15
				a(href="#").title__more Смотреть все товары
				a(href="#").title__more-mobile
					span 23
					+icon("arrow-conner-right","icon")
			.product-cont
				- for (var i=0;i< 12;i++)
					+product()
				a(href="#").product-more.btn--md.btn--mark.btn--mobile смотреть еще
		// seo text
		.section
			.main-cont
				h1.title.title--xl Доставка самых вкусных блюд!
				.seo-text.text
					p Рады, что Вы зашли на сайт Гигант-Суши Барнаул! Здесь Вы можете заказать доставку самых больших и вкусных суши и роллов в Барнауле, а также воки, пиццу и десерты.
				.seo-text.text.js-commutator-cont.drop(data-item="seo")
					p Мы готовим все суши и роллы только после получения заказа и вообще не держим заранее приготовленных блюд, чтобы сохранить максимальную свежесть и качество продукции, поэтому доставка по Барнаулу занимает в среднем 1 - 1,5 часа (30-40 мин. приготовление + 30-40 мин. доставка). Также вы можете оформить самовывоз и забрать свой заказ самостоятельно уже через 30-40 минут по адресу: ул. Власихинская 164 / ул. Шумакова 59 (2 этаж).

					p Оформить заказ с доставкой или самовывоз вы можете через меню на нашем сайте, либо позвонив операторам по телефонам: 58-55-05 и 58-85-05 Принимаем заказы ежедневно с 10.00 до 23.00 и осуществляем доставку в любое удобное для вас место: на дом, в офис, отель, сауну, … и др.

					p Заказать доставку суши и пиццы удобно по любому поводу: корпоратив в офисе, вечеринка с друзьями, день рождения, романтический ужин или просто вкусно поесть в кругу семьи. Наши блюда – большие, вкусные и по приятной цене. Помимо блюд японской кухни мы с радостью приготовим для вас гигантские воки с разными начинками, большую и сочную пиццу, сладкие десерты.

					p Чтобы заказать еду на сайте, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся блюд. Скорректируйте количество порций и введите свои контактные данные.

					p Спасибо, что выбираете Гигант-Суши! Приятного аппетита!
				.icon-row.toggle-seo.js-commutator-el(data-item="seo")
					span.type--main.type--false Показать еще
					span.type--main.type--true Скрыть
					+icon("arrow-down","icon icon--sm icon--left")
	// seo text === end
	+footer()
include ./block_html/_script.pug
