@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.product-cont
		f()
		fw()
	.product-el
		item(4,20px)
	.size
		f()
	.size__el
		width: 100%

	.order-add--sm
		f()
		fw()
		.product-el
			item(3,20px)
	.sale-list
		f()
		fw()
	.sale-list__el
		item(3,20px)
@media screen and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active)
	//for media