mixin footer()
	//block footer
	.footer
		.pay-row
			img(src="img/pay-maestro.svg", alt="")
			img(src="img/pay-master.svg", alt="")
			img(src="img/pay-visa.svg", alt="")
			img(src="img/pay-mir.svg", alt="")
		.footer__nav
			a(href="#").footer__nav-el Меню
			a(href="#").footer__nav-el Акции
			a(href="#").footer__nav-el Доставка и оплата
			a(href="#").footer__nav-el О нас
			a(href="#").footer__nav-el.footer__nav-el--light Публичная оферта
			a(href="#").footer__nav-el.footer__nav-el--light Политика конфиденциальности
		.footer__create
			a(href="#").jq
				span Разработка сайта
				img(src="img/jq.svg", alt="")
	a(href="#").mobile-cart
		.mobile-cart-wrap
			.mobile-cart__val 12
			+icon("cart","icon")
	//block footer end