mixin header()
	//block header
	.header
		.header-part.header-part--left
			.header-menu.js-slide-block-toggle(data-menu="menu")
				.header-menu-btn
					+icon("chef","icon is-close")
					+icon("close","icon is-open")
					span Меню
			.header-nav
				.header-location
					+icon("location","icon")
					span Кемерово
				a(href="#").header-nav__el Акции
				a(href="#").header-nav__el Доставка и оплата
				a(href="#").header-nav__el О нас
		a(href="/").header-logo
			img(src="img/logo.svg", alt="")
		.header-part.header-part--right
			.header-contact
				+icon("phone","icon")
				.header-contact__info
					a(href="tel:8 495 123 45 67").header-contact__phone 8 495 123 45 67
					.header-contact__time заказывайте с 10 до 20
			.header-auth
				.header-auth-false.hidden
					+icon("user","icon")
					span Войти
				.header-auth-true
					.user-img(style="background-image:url('img/user.jpg')")
					.user-name Александр
			.header-cart.js-slide-block-toggle(data-menu="cart")
				.header-cart__icon
					+icon("cart","icon")
				.header-cart__val 1249 р
				.header-cart__items
					span 6
					+icon("close","icon is-open")

		//slide block cart
		.slide-block.slide-block--left.slide-block--menu(data-menu="menu")
			.slide-block-wrap.scroll
				.slide-menu__list
					-
						var items = [
							'Готовая продукция','Готовая продукция КЦ','Восточные и мучные сладости','Десерты','Кексы','Печенье','Пироги','Пирожные','Пряники','Торты','Готовая продукция ХЦ','Багеты, батоны','Булочки','Киши, Заливные','Пироги','Тесто','Хлеба','Кулинария','Гастрономия','Кофе для кофейни','Молоко','Напитки и соки'
							];
					each item in items
						a(href="#").slide-menu__list-el #{item}

		//slide block cart
		.slide-block.slide-block--right.slide-block--cart(data-menu="cart")
			.basket
				.basket-empty.hidden
					// remove .hidden for empty basket
					.basket-empty__img
						img(src="img/empty.svg", alt="")
					.basket-empty__text Добавьте в корзину что-либо. Вам понравится наше меню!
				.basket-container.scroll
					.basket-title Мой заказ
					- for (var i=0;i<9;i++)
						.basket__el
							.basket__el-info
								.basket__img(style="background-image:url('img/item-sm-1.jpg')")
								.basket__cont
									.basket__name
										a(href="#") Хлеб Белый  #{i + 1}
										.basket__delete
											+icon("trash","icon")
									.basket__descr 435 г
									.basket__el-change
										.basket__inc
											+incr(1)
										.basket__price 120 р.
				.basket-footer
					.basket-total
						.basket-total__text Итого
						.basket-total__val 2 425 р
					.basket-total-get Оформить заказ
						// add class .btn--disable for empty basket


	//block header end